<?xml version="1.0" encoding="utf-8"?>
<config>
	<resources>
		<services>
			<service type="basic">http://localhost:8080/ProcessServer/</service>
			<service type="modelexecute">ModelExecute/Execute</service>
			<service type="ProjectJobExecute">Job/ProjectJobExecute</service>
		</services>
	</resources>
</config>